<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Type</th>
        <th>Money</th>
        <th>Date</th>
        <th>Category</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${payment.id}"/>
        <td th:text="${payment.paymentType.value}"/>
        <td th:text="${payment.moneyAmount}"/>
        <td th:text="${#temporals.format(payment.dateTime, 'dd.MM.yyyy HH:mm')}"/>
        <div th:each="category:${allCategories}">
            <div th:if="${category.id==payment.categoryId}" th:value="${category.label}">
                <td th:text="${category.label}"/>
            </div>
        </div>
    </tr>
    </tbody>
</table>

<h2>Edit</h2>

<form action="#" th:action="@{/users/{user-id}/payments/{payment-id}(user-id=${userId}, payment-id=${paymentId})}"
      th:object="${payment}" method="post">
    <div>
        <input type="hidden" th:field="*{id}"/>
    </div>
    <div>
        <input type="hidden" th:field="*{userId}">
    </div>
    <div>
        <label>Type:</label>
        <label>
            <select th:field="*{paymentType}">
                <option th:each="type : ${allPaymentsTypes}" th:value="${type}" th:text="${type.value}"></option>
            </select>
        </label>
    </div>
    <div>
        <label for="payment-moneyAmount">Money amount:</label>
        <input type="number" th:field="*{moneyAmount}" id="payment-moneyAmount">
    </div>
    <div>
        <label for="payment-date">Date:</label>
        <input type="datetime-local" th:field="*{dateTime}" id="payment-date"/>
    </div>
    <div>
        <label>Category:</label>
        <label>
            <select th:field="*{categoryId}">
                <option th:each="category : ${allCategories}" th:value="${category.id}"
                        th:text="${category.label}"></option>
            </select>
        </label>
    </div>
    <div>
        <button type="submit" name="edit" class="button">Edit</button>
    </div>
</form>
<form action="#" th:action="@{/users/{user-id}/payments/{payment-id}(user-id=${userId}, payment-id=${paymentId})}" method="post">
    <div>
        <button type="submit" name="delete" class="button">Delete</button>
    </div>
</form>
</body>
</html>